* {
  background-color: darkgray;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* User Info (Header) */
#user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 30px 0;
  border-bottom: 2px solid darkblue;
}
#userName {
  font-size: 24px;
  color: darkblue;
  font-weight: 600;
}

/* Search Area  */
#search {
  display: flex;
  justify-content: center;
}

#search-btn {
  padding: 10px;
  margin-left: 10px;
  background-color: #fff;
  color: darkblue;
  font-weight: 500;
  border-radius: 5px;
}

#search-btn:hover {
  background-color: #007bff;
  color: #fff;
  border-color: darkblue;
}

#searchInput {
  background-color: #fff;
  width: 40%;
  border-radius: 5px;
}

/* Food Cards */
#food-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.foodCard {
  border: 1px solid darkblue;
  background-color: aquamarine;
  display: inline-block;
  width: 600px;
  height: 100px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foodCard:focus {
  border: 2px solid darkblue;
  background-color: #fff;
}

/* Fav Button */

.myFavBtn {
  background-color: aquamarine;
  border-radius: 50%;
}

.myFavBtn-clicked {
  background-color: #fff;
  border-radius: 50%;
}